.product {
    display: flex;
    background-color: white;
    margin: 10px;
    padding: 20px;
}

.product__info {
    display: flex;
    flex-direction: column;
    width: 400px;

}

.product__rating {
    display: flex;
    flex-direction: row;
}

.product__image{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
}

.product__button {
      background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}